<mat-dialog-actions [formGroup]="changenumber">
    <div class="row">
        <div class="col-md-12 text-left">
         <h5>Please Enter New number :</h5>
        </div>
        <hr>
        <div class="col-md-12">
            <mat-form-field  class="example-full-width">
                <mat-label>Enter Mobile Number</mat-label>
                <input type="text" matInput maxlength="10" formControlName="phonenumber" 
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
                placeholder="Enter Mobile Number">
                <mat-error
                  *ngIf="changenumber.controls['phonenumber'].errors && changenumber.controls['phonenumber'].touched">
                  <span *ngIf="changenumber.controls['phonenumber'].errors.required">Enter your number</span>
                  <span *ngIf="changenumber.controls['phonenumber'].errors.minlength">Please enter 10! digits number</span>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-12 text-right">
            <div class="form-group mt20">
                <button type="submit"  class="btn btn-primary mrleftright"
                    (click)="submit()" [disabled]="changenumber.invalid"
                    mat-dialog-close="true">Change</button>
                    &nbsp;&nbsp;
                <button type="submit" mat-dialog-close="false"
                    class="btn btn-warning mrleftright">Cancel</button>
            </div>
        </div>
    </div>
    </mat-dialog-actions>
