.mrleftright{
  margin-left: 10px;
  margin-right: 10px;
}

.example-container table th{
  color: #fff !important;
  vertical-align: middle !important;
  padding:10px !important

}

.example-container table td{
  padding:10px !important
}
.example-container table {
  overflow-x: scroll !important;
}


.mr15{
  margin-right: 15px !important;
}
.mr12{
  margin-left: -49px;
    padding: 1px 1px 0px;
  
}

.mt50{
  margin-top: 76px;
}
.my-custom-scrollbar {
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }


 .mat-button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    border-radius: 0.2rem;
  }

  .mat-input-element{
    line-height:auto;
    padding:6px;
    height: auto;
    font-size: 12px;
    border: 1px solid;
    border-color: #0779e4;
    background: white;
  }
  .ml-20{
    margin-left: -20px !important;
  }

  .btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.7;
    border-radius: 0.2rem;
}

.circle {
  border-radius: 50% !important;
  overflow: hidden;
  width: 78px;
  height: 78px;
  border: 2px solid #0b46ae;
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.required{
  color: red;  
}
label{
  font-weight: bold;
}
.mrleftright{
  margin-left: 10px;
  margin-right: 10px;
}
.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: .7rem;
}
input#mat-input-1 {
  border: 0px solid red;
  background-color: #a22c2c05;
}
input#mat-input-2 {
border: 0px solid red;
background-color: #a22c2c05;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
border-radius: 4px 4px 0 0;
padding: 0px !important; 
}
.mat-form-field-appearance-fill .mat-form-field-flex {
background-color: #ffffff14 !important; 
}


input#mat-input-1 {
  margin-top: 11px;
  height: 36px;
  border: 1px solid #ced4da;
}

input#mat-input-2{
margin-top: 11px;
height: 36px;
border: 1px solid #ced4da;
}

button.btn.btn-primary.sub {
margin-top: 30px;
}

label.selectlb {
font-size: 12px;
color: #989595a3;
}
::ng-deep .no-line .mat-form-field-underline {
display: none;
}
::ng-deep .no-line1 .mat-form-field-underline {
display: none;
}




