<div class="clearfix row">

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/vechicle-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/all-vehicle-details.png" alt="" class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Vehicles Management</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/service-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/servicing.png" alt="" class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Servicing Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/fuel-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/fuel.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Fuel Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/driver-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/driver.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Driver Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/tyre-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/tyre.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Tyre Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/spare-parts-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/spare.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Spare Parts Management</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/alert-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/alert.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Alert Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/kilometer-summary-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/kilometer.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>KM Summary Management</b></h6>
                </div>
            </div>
        </a>
    </div>



    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/customer-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/customer.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Customer Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/expanses-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/expanses.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Expances Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/trip-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/trip.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Trip Management</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/fleet-management/hub-management']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/feet_management/hub.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Hub Management</b></h6>
                </div>
            </div>
        </a>
    </div>
</div>