<div class="clearfix row">

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/stop-page-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\stop-page-report.png" alt=""
                        class="img-responsive mt20 img" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Stoppage Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/track-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track_report.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Track Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/distance-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\distance_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Distance Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/full-vechicle-details']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\all-vehicle-details.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Full Vehicle Details</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/daywise-km-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\daywise.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Daywise KM Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/daily-summary-km-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\24_hrs_report.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Daily Summary KM</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/24hours-km-report']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\daily_summary_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>24 Hours KM Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/24hours-analysis']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\24_hrs_report_analytics.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>24 Hours Analysis</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/geofence-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\geofance_report.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Geofence Report</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/driver-performance']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\driver_parformance.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Driver Performance</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/routes']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\routs.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Routes</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/track-nearest-vechicle']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track-nearest.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Track Nearest Vehicle</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/charts']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\charts.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Charts</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/track-history']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\track_history.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Track History</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/temperature-reports']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\temparature.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Temperature Reports</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/fuel-reports']">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\fuel.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Fuel Reports</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-3 mb10 clearfix">
        <a [routerLink]="['/web/reports_charts/dashboard-report']">
            <div class="buy-plans clearfix ">
                <div class="imagebox">
                    <img src="assets\images\reports_charts\all-vehicle-details.png" alt=""
                        class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6><b>Dashboard Report</b></h6>
                </div>
            </div>
        </a>
    </div>

</div>