<div class="col-md-12 white-bg no-pad">
    <div class="mt10 clearfix mb10 address">
        <div class="row">
        <div class="col-md-6 mt20">
            <div class="clearfix mb20 text-center">
                <h6 class="mb10">Refer and Earn</h6>
                <p>Refer to friends and start earning with UTRACK.</p>
                <p>You earn 5% cashback on your referral every transaction.</p>
                <p>You can add the amount to your bank accoount or paytm wallet through one click.</p>
            </div>

        </div>

        <div class="col-md-3 mb30">
            <div class="clearfix mb10 mt10 text-center">
                <span>Your Referral Code</span>
                <div class="clfearfix"></div>
                <div id="animation-examples">
                    <div class="animation-examples one" ><b>{{refercode}}</b></div>
                </div>
            </div>
            <div class="clearfix mb20"></div>
            <button class="btn btn-round btn-sm">Share</button>

        </div>
    </div>
    </div>
</div>

