<div class="clearfix row">

    <div class="col-md-4 mb20 clearfix">
        <a (click)="ChangePassword()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/setting-icons/4.png" alt="" class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Change Password</b></h6>
                </div>
            </div>
        </a>
    </div>

    <div class="col-md-4 mb20 clearfix">
        <a (click)="ChangeNumber()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/setting-icons/1.png" alt="" class="  img mt20 img-responsive" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Change Number</b></h6>
                </div>
            </div>
        </a>
    </div>


    <div class="col-md-4 mb20 clearfix">
        <a (click)="ChangeEmail()">
            <div class="buy-plans clearfix">
                <div class="imagebox">
                    <img src="assets/images/setting-icons/2.png" alt="" class="img-responsive img mt20" />
                </div>
                <div class="col-md-12 text-center mt20 mb20">
                    <h6 class="fleetH4"><b>Change Email</b></h6>
                </div>
            </div>
        </a>
    </div>

</div>